---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Picture from '../components/Picture.astro'
import Presentacion from '../components/Presentacion.astro'
import Caracterisitcas from '../components/Caracteristicas.astro'
---

<Layout title="Welcome to Astro.">
	<header>
		<Head />
	</header>
	<main>
		<Picture />
		<Presentacion />
		<Caracterisitcas />
	</main>
</Layout>
