---
---

<section class="animate-fadeInSlow">
    <div class="flex justify-start m-4 flex-col">
        <h1 class="text-4xl text-[#FF7700] mb-1">Características</h1>
        <p class="text-black"><span class="text-[#ff7700]">Nombre:</span> Pandora</p>
        <p class="text-black"><span class="text-[#ff7700]">Raza:</span> Calle</p>
        <p class="text-black"><span class="text-[#ff7700]">Edad:</span> 1 año</p>
        <p class="text-black"><span class="text-[#ff7700]">Género:</span> Hembra</p>
        <p class="text-black"><span class="text-[#ff7700]">Sobre mi:</span> Soy muy juegetona, estoy castrada y me encanta jugar con otros perros, con los gatos no me llevo muy bien</p>
    </div>
</section>