---
---

<section>
    <div class="flex justify-start m-4 flex-col">
        <h1 class="text-4xl text-[#FF7700] mb-1">Características</h1>
        <p class="text-black"><span class="text-[#ff7700]">Nombre:</span> Kira</p>
        <p class="text-black"><span class="text-[#ff7700]">Raza:</span> Golden Retriever</p>
        <p class="text-black"><span class="text-[#ff7700]">Edad:</span> 2 años</p>
        <p class="text-black"><span class="text-[#ff7700]">Género:</span> Hembra</p>
        <p class="text-black"><span class="text-[#ff7700]">Sobre mi:</span> Una perrita juguetona que no juega con gatos. Me encanta mi comida seca de pollo y arroz y prefiero los días tranquilos.</p>
    </div>
</section>