---
---
<section class="animate-fadeIn">
    <div class="bg-[#FF7700] w-full h-full flex justify-center items-center flex-col text-white rounded-b-[14px]">
        <a href="https://wa.me/2254596659?text=Hola%2C%20quiero%20una%20chapita%20con%20QR%20para%20mi%20mascota%21" target="_blank"><button class="shadow-lg bg-white my-3 text-[#FF7700] font-bold py-3 px-6 rounded-lg  border-2 border-white">
            ¡Quiero uno!
          </button>
        </a>
        <p class="text-sm">© 2024 QR para Perros. Todos los derechos reservados.</p>
        <p class="text-sm mb-3">Versión 1.1.1</p>
    </div>
</section>