---
---
<section class="animate-fadeIn">
    <div class="bg-[#FF7700] w-full h-20 flex justify-center items-center flex-col text-white rounded-b-[14px]">
        <p class="text-sm">© 2024 QR para Perros. Todos los derechos reservados.</p>
        <p class="text-sm">Versión 1.1.0</p>
    </div>
</section>