---

---

<section class="flex justify-center items-center mt-1">
    <div class="bg-[#FF7700] p-2 px-8 rounded-xl">
        <h1 class="text-white text-3xl">I am <span class="text-black">Kira</span></h1>
    </div>
</section>