---
---

<section class="animate-fadeInSlow">
    <div class="flex justify-start m-4 flex-col">
        <h1 class="text-4xl text-[#FF7700] mb-1">Hola soy Kira</h1>
        <p>¡Guau! Mi nombre es Kira, una perrita llena de energía y amor. Me encanta correr por el parque, jugar con mi pelota favorita y, sobre todo, hacer nuevos amigos. Tengo una habilidad especial para detectar cuándo alguien necesita una dosis extra de cariño, y siempre estoy lista para dar lametazos y recibir mimos.</p>
    </div>
</section>