---
import contenido from "../data/Perros.json";
const { id } = Astro.params;
const perro = contenido.perros.find(p => p.id === Number(id));
console.log('ID:', id);
console.log('Perro:', perro);
---

<section class="animate-fadeInSlow">
    <div class="flex justify-start m-4 flex-col">
        {perro ? (
            <>
                <h1 class="text-4xl text-[#FF7700] mb-1">Hola soy {perro.Nombre}</h1>
                <p>{perro.Presentacion}</p>
            </>
        ) : (
            <p>Perro no encontrado</p>
        )}
    </div>
</section>
