<section class="flex justify-start m-4 flex-col">
    <div class="faq mb-4">
      <div class="head flex justify-between items-center py-3 px-4 bg-[#FF7700] text-white cursor-pointer">
        <span class="text-lg">¿El código QR tiene vencimiento?</span>
        <svg
          class="transition-transform duration-300 transform rotate-0"
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 14.469L1 6.46897L1.96897 5.5L9 12.531L16.031 5.5L17 6.46897L9 14.469Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="content overflow-hidden max-h-0 transition-all duration-300 py-0 px-4 bg-gray-100">
        <p class="py-4">
            No, una vez activado, el QR es válido de por vida.
        </p>
      </div>
    </div>
  
    <div class="faq mb-4">
      <div class="head flex justify-between items-center py-3 px-4 bg-[#FF7700] text-white cursor-pointer">
        <span class="text-lg">¿Cómo activo mi chapita QR?</span>
        <svg
          class="transition-transform duration-300 transform rotate-0"
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 14.469L1 6.46897L1.96897 5.5L9 12.531L16.031 5.5L17 6.46897L9 14.469Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="content overflow-hidden max-h-0 transition-all duration-300 py-0 px-4 bg-gray-100">
        <p class="py-4">
            Toca el botón de Activar QR en nuestra página. Se abrirá un formulario en WhatsApp donde ingresarás los datos de tu peludo.
          </p>
      </div>
    </div>
  
    <div class="faq mb-4">
      <div class="head flex justify-between items-center py-3 px-4 bg-[#FF7700] text-white cursor-pointer">
        <span class="text-lg">¿Qué información puedo agregar?</span>
        <svg
          class="transition-transform duration-300 transform rotate-0"
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 14.469L1 6.46897L1.96897 5.5L9 12.531L16.031 5.5L17 6.46897L9 14.469Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="content overflow-hidden max-h-0 transition-all duration-300 py-0 px-4 bg-gray-100">
        <p class="py-4">
            Puedes incluir el nombre de tu mascota, tu número de teléfono, dirección, y cualquier dato adicional que creas importante.
        </p>
      </div>
    </div>
  
    <div class="faq mb-4">
      <div class="head flex justify-between items-center py-3 px-4 bg-[#FF7700] text-white cursor-pointer">
        <span class="text-lg">¿Qué pasa si pierdo mi chapita?</span>
        <svg
          class="transition-transform duration-300 transform rotate-0"
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 14.469L1 6.46897L1.96897 5.5L9 12.531L16.031 5.5L17 6.46897L9 14.469Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="content overflow-hidden max-h-0 transition-all duration-300 py-0 px-4 bg-gray-100">
        <p class="py-4">
            Deberás contactarte nuevamente con nosotros para solicitar la fabricación de una nueva chapita.
        </p>
      </div>
    </div>
  </section>
  
  <script>
    const dropdowns = document.querySelectorAll('.faq');
    dropdowns.forEach(dropdown => {
        dropdown.addEventListener('click', function() {
            const content = dropdown.querySelector('.content');
            const isActive = dropdown.classList.contains('active');
            closeAllDropdowns();
            if (!isActive) {
                dropdown.classList.add('active');
                content.style.maxHeight = content.scrollHeight + 'px';
            }
        });
    });
  
    function closeAllDropdowns() {
        dropdowns.forEach(dropdown => {
            dropdown.classList.remove('active');
            const content = dropdown.querySelector('.content');
            content.style.maxHeight = '0';
        });
    }
  </script>
  